body {
    background-color: #131518;
}

.attribution { 
    font-size: 11px; text-align: center; 
    color: whitesmoke;
    padding-top: 100px;
}
.attribution a {
     color: hsl(0, 0%, 100%); 
}

/* main container styling  */

.main-div {
    width: 412px;
    height: 412px;
    margin: 0 auto;
    margin-top: 30vh;
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    border-radius: 30px;
    padding: 32px 32px 32px 32px;
}

.div2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.sub-div2 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.circle-star {
    height: 51px;
    width: 51px;
    border-radius: 50%;
    background-color: #262E38;
}

.star-img {
   position: relative;
   top: 18px;
   left: 18px;
}

.heading-1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

.heading-2 {
    
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #969FAD;
    width: 80%;
  
}

.rating-circles {
    display: flex;
    margin-top: 20px;

}

.circle {
    height: 51px;
    width: 51px;
    margin-left: 19px;
    margin-right: 19px;
    border-radius: 50%;
    background-color: #262E38;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7C8798;
    cursor: pointer;
}

.orange {
    height: 51px;
    width: 51px;
    margin-left: 19px;
    margin-right: 19px;
    border-radius: 50%;
    background-color:#FC7614;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7C8798;
    cursor: pointer;
}



.circle:hover {
    background-color: #7C8798;
    color: #FFFFFF;
}


.submit-btn {
    width: 100%;
    height: 45px;
    background: #FC7614;
    border-radius: 22.5px;
    border: none;
    color: white;
    letter-spacing: 0.3rem;
    margin-top:50px;
    cursor: pointer;
}

.submit-btn:hover {
    color:#FC7614;
    background-color: #FFFFFF;
}


.stars-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stars-selection h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
    font-family: 'Overpass', sans-serif;
}

.appreciate {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    width: 83%;
    color: #969FAD;
}

.selected {      
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #FC7614;
    background: #262E38;
    border-radius: 22.5px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 155px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hide {
    display: none;
}

